*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    margin-top: 100px;
    width: min(1200px, 100%);
}

.datepicker {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.datepicker-header {
    display: flex;
    width: 100%;
    border: 1px solid slategray;
}

.datepicker-header__input {
    width: calc(100% - 2rem);
    border: none;
    padding: 0.5rem;
}

.datepicker-header__input:focus-visible {
    outline: none;
    border-color: #000;
}

.datepicker-header__btn {
    width: 2rem;
    height: 2rem;
    color: #000;
    border: none;
    border-left: 1px solid slategray;
    cursor: pointer;
    background: none;
    transition: background 0.1s;

    &:hover {
        background: lightgray;
    }

    &:active {
        background: rgb(177, 177, 177);
    }
}

.datepicker__current {
    padding: 0.5rem;
    border: 1px solid slategray;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}

.datepicker-prev-btn,
.datepicker-next-btn {
    border: none;
    width: 10%;
    cursor: pointer;
    background: none;
    border-radius: 2px;
    transition: background 0.1s;

    &:hover {
        background: lightgray;
    }

    &:active {
        background: rgb(177, 177, 177);
    }
}

.datepicker-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

.datepicker-table thead {
    border: 1px solid slategray;
    border-top: none;
}

.datepicker-table td {
    padding: 0.5rem;
    border: 1px solid slategray;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
        background: lightgray;
    }

    &:active {
        background: rgb(177, 177, 177);
    }
}
