*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif;
}

img {
    width: 100%;
    display: block;
}

.hidden {
    visibility: hidden;
}

.container {
    width: 100%;
    max-width: 800px;

    margin: 150px auto;
}

.profile-form {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    padding: 3rem 2rem 3rem 3rem;
    border: 2px solid #000;
    border-radius: 1.5rem;
}

.form {
    flex: 4;

    label {
        display: block;
        margin-bottom: 0.4rem;
        font-size: 1.4rem;
        font-weight: 400;
    }

    > [class|="user"] {
        margin-bottom: 1rem;

        div {
            margin-bottom: 0.5rem;
        }
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid #000;
        border-radius: 0.5rem;

        font-size: 1.2rem;

        &.invalid {
            border-color: red;

            &::placeholder {
                color: red;
            }
        }

        &:focus::placeholder {
            color: grey;
        }
    }

    .user-details-error,
    .user-password-error {
        font-size: 1rem;
        font-weight: 400;
        color: red;
    }

    input[type="checkbox"] {
        display: none;
    }

    .user-password,
    .confirm-password {
        position: relative;
    }

    .show-password-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 2rem;
        height: 2rem;
        font-size: 1.25rem;
        color: #000;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        position: absolute;
        top: 72.5%;
        right: 0.5rem;
        transform: translateY(-50%);
        transition: background-color 0.1s ease;

        &:hover {
            background-color: lightgray;
        }
    }

    input[type="submit"] {
        background-color: #000;
        color: #fff;
        font-size: 1.25rem;
        padding: 0.75rem;
        cursor: pointer;
        transition: background-color 0.1s ease, transform 0.075s ease;

        &:hover {
            background-color: #303030;
        }

        &:active {
            transform: scale(0.975);
        }
    }
}

.profile-progress {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 2rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    margin: 2rem 0;
    position: relative;
    --deg: calc((var(--progress) * 360deg) / 100);

    background: conic-gradient(#000, #000 var(--deg), #fff var(--deg), #fff);

    .progress {
        z-index: 1;
    }

    &::before {
        content: "";
        width: 6.75rem;
        height: 6.75rem;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.profile-completeness {
    flex: 1;
    padding: 2rem;
    background-color: #e8e8e8;
    border-radius: 1.5rem;
    list-style: none;

    li {
        font-size: 1.1rem;
        font-weight: 400;
        padding-bottom: 0.25rem;

        &.done {
            color: #878787;
            text-decoration: line-through;
        }
    }
}
