.container {
  width: min(800px, 100%);
  margin: 0 auto;
  margin-top: 100px;
}

.image-grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "fb tp ra"
    "fb bd ra"
    "lr bd vb";
  gap: 8px;
}

@media (width < 640px) {
  .image-grid-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "fb tp"
      "fb bd"
      "lr bd"
      "ra vb";
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foggyBeach {
  grid-area: fb;
}

.livingRoom {
  grid-area: lr;
}

.tableWithPlates {
  grid-area: tp;
}

.buildingWithDoor {
  grid-area: bd;
}

.rowOfApartment {
  grid-area: ra;
}

.viewOfBeach {
  grid-area: vb;
}
