*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;

  margin: 150px auto;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 900px;
  font-size: 1.2rem;
}

.row-1 {
  display: flex;
  gap: 2.25rem;
  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
  }

  h5 {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .author-card {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;

    .author-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
    }
  }
}

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  .review {
    background-color: #000;
    color: #fff;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    position: relative;
  }

  .review::after {
    content: "";
    position: absolute;
    border: 0.9rem solid transparent;
    border-top: 0.9rem solid #000;
    bottom: -1.7rem;
    left: 2rem;
  }
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border: 1px solid #000;
  border-radius: 1.25rem;
  padding: 1.25rem;

  .author-card {
    padding-top: 0.5rem;
    padding-left: 0;
  }
}

.card-3 {
  display: flex;
  width: 100%;
  gap: 1rem;

  .image-container {
    flex: 8;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.25rem;
  }

  .review {
    flex: 12;
    background-color: #000;
    border-radius: 1.25rem;
    color: #fff;
    padding: 2rem;

    .stars {
      font-size: 1.25rem;
      display: flex;
      color: orange;
      margin-bottom: 1.25rem;
    }

    .author-title {
      padding-bottom: 0.5rem;
      h4 {
        font-size: 1.75rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }
      h5 {
        font-size: 1.1rem;
        font-weight: 500;
        color: lightslategray;
      }
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 1.25rem;
  padding: 3rem;
  text-align: center;

  p {
    margin-bottom: 2rem;
  }

  .images-slider {
    /*  */
    .images {
      display: flex;
      justify-content: center;
      position: relative;
      gap: 1rem;

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        transform: scale(0.8);
        opacity: 0.35;
      }

      img.selected {
        display: block;
        opacity: 1;
        transform: none;
      }

      .fa-arrow-left {
        border-radius: 50%;
        padding: 0.5rem;
        position: absolute;
        top: 50%;
        left: -2.5rem;
        transform: translateY(-50%);
        transition: background-color 0.15s linear;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
        }
        &:active {
          background-color: #bdbdbd;
        }
      }

      .fa-arrow-right {
        border-radius: 50%;
        padding: 0.5rem;
        position: absolute;
        top: 50%;
        right: -2.5rem;
        transform: translateY(-50%);
        transition: background-color 0.15s linear;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
        }
        &:active {
          background-color: #bdbdbd;
        }
      }
    }

    .images-title {
      padding-top: 1rem;
    }
  }
}

@media (width < 728px) {
  .row-1 {
    flex-direction: column;
    align-items: center;
  }

  .card-1 {
    width: 100%;
  }

  .card-2 {
    width: 100%;
  }

  .card-3 {
    flex-direction: column;
    align-items: center;
  }
}

@media (width < 540px) {
  .block {
    .images-slider {
      .images {
        img {
          display: none;
        }

        .fa-arrow-left {
          left: -4rem;
        }

        .fa-arrow-right {
          right: -4rem;
        }
      }
    }
  }
}
